<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
	<div class="row">

		<div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:48px">
			<h1>Welcome to Turbo</h1>
			<hr />
			<div style="background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
				You are currently looking at the <strong style="color:red">index.mustache</strong> file in the 'views' directory of your project. This template is rendered with the Mustache templating engine. <span style="color:red">{{text}}</span>
			</div>

			<h3 style="margin-top:48px">Routes</h3>
			<hr />
			<p>
				The routes are stored in the 'routes' directory. This scaffold comes with two sample routes out of the box: index and api. To test each route, click the following links:
			</p>

			<div class="row">
				<div class="col-md-6 col-md-offset-0">
					<div style="text-align:left;background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
						<h4>Index Route</h4>
						<ul style="padding-left:16px">
							<li><a href="/json">JSON Response</a></li>
							<li><a href="/send">Text Response</a></li>
							<li><a href="/redirect">Redirect</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-6">
					<div style="text-align:left;background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
						<h4>API Route</h4>
						<ul style="padding-left:16px;">
							<li><a href="/api/profile">Resource Request</a></li>
							<li><a href="/api/profile?team=cavaliers">With Query Params</a></li>
							<li><a href="/api/profile/lebron_james">With ID</a></li>
						</ul>
					</div>
				</div>
			</div>

			<h3 style="margin-top:48px">Static Assets</h3>
			<hr />
			<p>
				Static assets (images, js, css, etc) are located in the "public" directory. The image below is rendered from the 'images' directory of the public folder:
				<br /><br />
				<img style="background:#f9f9f9;padding:6px" src="/images/turbo.png" />
				<br /><br />
				When deployed on Turbo Vertex, static assets are <em>automatically</em> distributed to a global CDN so there is no need to set that up. If you decide to eject and deploy this project on your own architecture, you will have to configure a CDN distribution (or at least you should).
			</p>

			<h3 style="margin-top:48px">Deployment</h3>
			<hr />
			<p>
				To deploy, connect the project to a Turbo 360 project using the APP_ID (from root directory):
<pre style="text-align:left;margin-top:8px;background:#333;color:#fff">
<code>$ turbo app APP_ID</code>
</pre>

				Then deploy by simply entering the deploy command:
<pre style="text-align:left;margin-top:8px;background:#333;color:#fff">
<code>$ turbo deploy</code>
</pre>

				When deployment is complete, you will see a live link where you can access the project on the internet!
			</p>


		</div>
	</div>


  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
