<html>
    <head>

    </head>
    <body>
        <h1>Profiles</h1>
        {{timestamp}}
        <ol>
        {{#profiles}}
            <li><a href="/profile/{{username}}">{{name}}</li></a>
        {{/profiles}}
        </ol>
        <form action="/addprofile" method="POST">
				<input type="text" name="name" placeholder="first name"/>
                <input type="text" name="username" placeholder="user name"/>
				<input type="text" name="company" placeholder="company name"/>
                <input type="text" name="languages" placeholder="languages"/>
				<input type="submit" value="Add Profile"/>
			</form>
   
    </body>

</html>